body {
    background-color: #f0f2f5;
}

.flex-container {
    top: 80px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.conteudo {
    background-color: royalblue;
    position: relative;
}

.part {
    margin-left: 10%;
    top: 50px;
    width: 600px;
    height: 500px;
    position: relative;
}

.part .fb_logo {
    height: 136px;
    position: relative;
    top: 80px;
    left: 00px;
}

.part p.face {
    top: 20px;
    text-align: justify;
    left: 20px;
    width: 600px;
    position: relative;
    font-size: 2.3rem;
    padding-right: 0px;
}

form {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin-left: -30px;
    height: 87%;
    top: 30px;
    padding: 0 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.185) 0px 0px 10px;
}

input {
    position: relative;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.068);
    border-radius: 5px;
    width: 85%;
    padding-left: 30px;
    height: 50px;
    font-size: 20px;
}

.sub {
    padding: 30px -10px 30px;
    font-weight: bold;
    background-color: #1877f2;
    width: 93%;
    color: white;
    font-size: 1.5rem;
    border: 0;
}

.form2 {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

a.link {
    color: rgba(0, 0, 255, 0.76);
    font-size: 1.2em;
}

hr {
    position: relative;
    border: 1;
    margin: 20px;
}

.sub2 {
    background-color: #42b72a;
    width: 35%;
    top: -10px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
}

.part p {
    position: relative;
    top: 45px;
    color: rgba(0, 0, 0, 0.705);
    font-size: 1.3em;
    text-align: center;
}

a.link2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

@media (max-width: 900px) {
    /* estilos aqui */
    .flex-container {
        top: -130px;
        left: -30px;
        margin: auto;
    }
    .part p.face {
        text-align: center;
        width: 500px;
    }
    form {
        top: -100px;
        margin: auto;
    }
    .part .fb_logo {
        margin-left: 12%;
    }
}


/* Telefones em paisagem a tablet em retrato 

@media (min-width: 481px) and (max-width: 767px) {
    /* estilos aqui 
    div.caixa {
        top: 40px;
        width: 80vw;
        height: 65vh;
    }
    h1 {
        font-size: 2rem;
        line-height: 20px;
    }
    .caixa p {
        line-height: 50px;
    }
}
*/